:root {
  --gris-oscuro: #171717;
  --amarillo: #eab80e;
  --blanco: #ffffff;
  --fuente-principal: "Roboto Mono", monospace;
}

#diego-img {
  margin-top: 40px;
  width: 350px;
  height: 350px;
  background-image: url("../../img/miembros/diego.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid var(--amarillo);
}
